#Ignore any backups made by gedit
*~

#These files are created during the usual configure;make build:
src/*.o
src/*.d
src/arg
src/diffscan
src/genalign
src/probe
src/reseq
src/soupupdtrc
src/threadtree
src/tierra
src/config.log

#These files are the test directories. They *should* be deleted after the test completes..
tests/test1/
tests/test2/
tests/testlenbias/
